:root{
    --primary-color: #1E88E5;
    --secondary-color: #ECEFF1;	
    --accent1-color: #B0BEC5;
    --accent2-color: #FFB300;
    --heading-font: "open sans", sans-serif;
    --text-font: "lato", sans-serif;
}

a {
    text-decoration: none;
}

html {
    background-color: var(--primary-color);
}

header {
    margin: 1rem auto;
    border: 1px var(--accent1-color);
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    border-bottom: 1px solid lightgray;
    align-items: center;
    max-width: 2000px;
    
}

header img{
    margin: 0 1rem 0 1rem;
    width: 100px;
    height: auto;   
}

header h1{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.menu {
    display: flex;
    flex-flow: nowrap;
    list-style: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu li {
    flex: 1 1 auto;
}

.menu a {
    display: flex;
    padding: 8px;
    color: var(--accent1-color);
    font-size: 1rem;
    text-decoration: none;
    justify-content: center;
}

.menu a:hover {
    color: var(--accent2-color);
    font-weight: 700;
    text-decoration: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

head {
    margin: 10px auto;
}

.head img {
    width: 120%;
    height: auto;
    position: absolute;
}

.head h1 {
    margin: 10px;
    top: 8px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    background-color: rgba(7, 6, 58, 0.315);
    padding: 1px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--accent1-color);
}
.article-box{
    margin: 1px;
    padding: 1px;
    border: 1px;
    display: flex;
}

.article-box p {
    margin: 1rem;
    padding: 1px;
    border: 1px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(6, 5, 83, 0.315);
    color: var(--accent1-color);
    position: relative;
}

.article-box img {
    left: 24.7rem;
    width: 150px;
    height: auto;
    float: right;
}


.box-h2 h2 {
    text-align: left;
    font-size: 25px;
    font-family: var(--heading-font);
}

.box-h2 p {
    text-align: justify;
    font-size: 16px;
    font-family: var(--text-font);
}

section h2 {
    text-align: left;
    font-size: 25px;
    font-family: var(--heading-font);
}

.img-box {
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    gap: 2rem;
    height: auto;
}

.footer-box {
    margin: 1rem;
    padding: 15px;
    border: 1px var(--secondary-color);
    background-color: var(--accent1-color);
    text-align: center;
}

.logo-media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    margin: 1rem auto;
    padding: 15px;
    border: 1px var(--accent1-color);
    background-color: var(--secondary-color); 
    gap: 0.55rem;
}
